---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<article class="sl-flex not-content" aria-labelledby="about-pawan-heading">
  <small id="about-pawan-heading">
    {title}
    <span class="sr-only">Pawan</span>
  </small>
  <svg width="317.15px" height="80.39999999999999px" xmlns="http://www.w3.org/2000/svg" viewBox="91.42500000000001 14.300000000000004 317.15 121.39999999999999" style="background: rgba(0, 0, 0, 0);" preserveAspectRatio="xMidYMid"><defs><filter id="editing-extrusion" x="-100%" y="-100%" width="300%" height="300%"><feFlood result="color1" flood-color="#444"></feFlood><feConvolveMatrix order="8,8" divisor="1" kernelMatrix="1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1" in="SourceAlpha" result="extrude"></feConvolveMatrix><feComposite in="color1" in2="extrude" result="comp-extrude" operator="in"></feComposite><feOffset dx="4" dy="4" in="comp-extrude" result="offset-extrude"></feOffset><feMerge><feMergeNode in="offset-extrude"></feMergeNode><feMergeNode in="SourceGraphic"></feMergeNode></feMerge></filter></defs><g filter="url(#editing-extrusion)"><g transform="translate(142.54497984051704, 96.98499870300293)"><path d="M26.11-42.69L26.11-42.69L26.11-42.69Q41.79-42.69 41.79-31.62L41.79-31.62L41.79-31.62Q41.79-25.54 37.89-21.89L37.89-21.89L37.89-21.89Q34.05-18.24 27.33-18.24L27.33-18.24L27.33-18.24Q24.19-18.24 21.76-20.03L21.76-20.03L21.76-20.03Q20.61-20.80 19.84-21.82L19.84-21.82L19.84-21.82Q24.51-21.82 26.98-24.67L26.98-24.67L26.98-24.67Q29.44-27.52 29.44-33.09L29.44-33.09L29.44-33.09Q29.44-38.66 23.94-38.66L23.94-38.66L22.40-38.66L22.40-38.66Q22.02-38.66 21.70-38.59L21.70-38.59L14.34 0L0.45 0L8.32-41.92L8.32-41.92Q15.17-42.56 19.14-42.62L19.14-42.62L19.14-42.62Q23.10-42.69 26.11-42.69ZM44.90-1.92L44.90-1.92L44.90-1.92Q43.39-3.58 42.72-6.21L42.72-6.21L42.72-6.21Q42.05-8.83 42.05-13.12L42.05-13.12L42.05-13.12Q42.05-17.41 43.52-21.31L43.52-21.31L43.52-21.31Q44.99-25.22 47.68-28.03L47.68-28.03L47.68-28.03Q53.18-33.92 62.27-33.92L62.27-33.92L62.27-33.92Q65.54-33.92 67.90-32.83L67.90-32.83L78.85-33.92L74.11-8.96L74.11-8.96Q73.92-8.19 73.92-6.78L73.92-6.78L73.92-6.78Q73.92-5.38 74.78-4.48L74.78-4.48L74.78-4.48Q75.65-3.58 76.93-3.46L76.93-3.46L76.93-3.46Q76.29-1.28 73.95 0L73.95 0L73.95 0Q71.62 1.28 68.99 1.28L68.99 1.28L68.99 1.28Q66.37 1.28 64.61 0.29L64.61 0.29L64.61 0.29Q62.85-0.70 62.34-2.37L62.34-2.37L62.34-2.37Q61.31-0.77 59.14 0.26L59.14 0.26L59.14 0.26Q56.96 1.28 54.05 1.28L54.05 1.28L54.05 1.28Q51.14 1.28 48.77 0.51L48.77 0.51L48.77 0.51Q46.40-0.26 44.90-1.92ZM58.40-27.90L58.40-27.90L58.40-27.90Q57.66-26.75 57.02-24.80L57.02-24.80L57.02-24.80Q56.38-22.85 55.33-17.63L55.33-17.63L55.33-17.63Q54.27-12.42 54.27-8.70L54.27-8.70L54.27-8.70Q54.27-4.99 54.85-3.90L54.85-3.90L54.85-3.90Q55.42-2.82 56.45-2.82L56.45-2.82L56.45-2.82Q58.50-2.82 60-4.77L60-4.77L60-4.77Q61.50-6.72 62.08-10.18L62.08-10.18L65.47-28.93L65.47-28.93Q64.13-30.08 62.56-30.08L62.56-30.08L62.56-30.08Q60.99-30.08 60.06-29.57L60.06-29.57L60.06-29.57Q59.14-29.06 58.40-27.90ZM130.05-10.69L130.05-10.69Q125.82-4.86 121.76-1.79L121.76-1.79L121.76-1.79Q117.70 1.28 113.50 1.28L113.50 1.28L113.50 1.28Q109.31 1.28 107.84 0.45L107.84 0.45L107.84-13.63L107.84-13.63Q104.19-3.90 97.66-0.13L97.66-0.13L97.66-0.13Q95.30 1.28 93.06 1.28L93.06 1.28L93.06 1.28Q88.77 1.28 86.91 0.45L86.91 0.45L86.91 0.45Q86.46-14.21 86.08-18.27L86.08-18.27L86.08-18.27Q85.70-22.34 85.38-24.83L85.38-24.83L85.38-24.83Q84.74-29.82 82.56-31.87L82.56-31.87L82.56-31.87Q85.31-33.92 89.15-33.92L89.15-33.92L89.15-33.92Q96.58-33.92 97.60-24.70L97.60-24.70L97.60-24.70Q97.86-22.53 97.86-20.22L97.86-20.22L97.86-20.22Q97.86-16.77 97.09-4.74L97.09-4.74L97.09-4.74Q98.62-5.44 100.26-7.97L100.26-7.97L100.26-7.97Q101.89-10.50 103.23-13.95L103.23-13.95L103.23-13.95Q106.24-21.95 106.24-28.86L106.24-28.86L106.24-28.86Q106.24-29.95 105.95-31.10L105.95-31.10L105.95-31.10Q105.66-32.26 105.34-32.58L105.34-32.58L105.34-32.58Q107.58-33.92 111.01-33.92L111.01-33.92L111.01-33.92Q114.43-33.92 116.06-31.58L116.06-31.58L116.06-31.58Q117.70-29.25 118.14-24.96L118.14-24.96L118.14-24.96Q118.66-19.52 118.66-16.26L118.66-16.26L118.66-16.26Q118.66-11.71 118.21-4.99L118.21-4.99L118.21-4.99Q121.41-7.30 124.03-14.85L124.03-14.85L124.03-14.85Q126.66-22.40 126.66-27.78L126.66-27.78L126.66-27.78Q126.66-30.14 126.27-31.55L126.27-31.55L126.27-31.55Q128.38-33.92 132.03-33.92L132.03-33.92L132.03-33.92Q134.27-33.92 135.90-32.70L135.90-32.70L135.90-32.70Q137.54-31.49 137.54-29.22L137.54-29.22L137.54-29.22Q137.54-26.94 136.86-24.51L136.86-24.51L136.86-24.51Q136.19-22.08 135.10-19.58L135.10-19.58L135.10-19.58Q132.99-14.59 130.05-10.69L130.05-10.69ZM142.05-1.92L142.05-1.92L142.05-1.92Q140.54-3.58 139.87-6.21L139.87-6.21L139.87-6.21Q139.20-8.83 139.20-13.12L139.20-13.12L139.20-13.12Q139.20-17.41 140.67-21.31L140.67-21.31L140.67-21.31Q142.14-25.22 144.83-28.03L144.83-28.03L144.83-28.03Q150.34-33.92 159.42-33.92L159.42-33.92L159.42-33.92Q162.69-33.92 165.06-32.83L165.06-32.83L176-33.92L171.26-8.96L171.26-8.96Q171.07-8.19 171.07-6.78L171.07-6.78L171.07-6.78Q171.07-5.38 171.94-4.48L171.94-4.48L171.94-4.48Q172.80-3.58 174.08-3.46L174.08-3.46L174.08-3.46Q173.44-1.28 171.10 0L171.10 0L171.10 0Q168.77 1.28 166.14 1.28L166.14 1.28L166.14 1.28Q163.52 1.28 161.76 0.29L161.76 0.29L161.76 0.29Q160.00-0.70 159.49-2.37L159.49-2.37L159.49-2.37Q158.46-0.77 156.29 0.26L156.29 0.26L156.29 0.26Q154.11 1.28 151.20 1.28L151.20 1.28L151.20 1.28Q148.29 1.28 145.92 0.51L145.92 0.51L145.92 0.51Q143.55-0.26 142.05-1.92ZM155.55-27.90L155.55-27.90L155.55-27.90Q154.82-26.75 154.18-24.80L154.18-24.80L154.18-24.80Q153.54-22.85 152.48-17.63L152.48-17.63L152.48-17.63Q151.42-12.42 151.42-8.70L151.42-8.70L151.42-8.70Q151.42-4.99 152.00-3.90L152.00-3.90L152.00-3.90Q152.58-2.82 153.60-2.82L153.60-2.82L153.60-2.82Q155.65-2.82 157.15-4.77L157.15-4.77L157.15-4.77Q158.66-6.72 159.23-10.18L159.23-10.18L162.62-28.93L162.62-28.93Q161.28-30.08 159.71-30.08L159.71-30.08L159.71-30.08Q158.14-30.08 157.22-29.57L157.22-29.57L157.22-29.57Q156.29-29.06 155.55-27.90ZM206.53 1.28L206.53 1.28L206.53 1.28Q198.78 1.28 198.78-4.74L198.78-4.74L198.78-4.74Q198.85-6.40 199.36-9.22L199.36-9.22L200.51-15.10L200.51-15.10Q202.24-23.42 202.24-25.28L202.24-25.28L202.24-25.28Q202.24-28.99 200.06-28.99L200.06-28.99L200.06-28.99Q196.42-28.99 194.50-19.46L194.50-19.46L190.72 0L177.86 1.28L184.51-32.70L195.01-33.92L193.98-27.65L193.98-27.65Q196.99-33.92 206.21-33.92L206.21-33.92L206.21-33.92Q210.69-33.92 212.58-32.03L212.58-32.03L212.58-32.03Q214.46-30.14 214.46-25.92L214.46-25.92L214.46-25.92Q214.46-21.95 212.42-12.67L212.42-12.67L212.42-12.67Q211.46-8.51 211.46-6.94L211.46-6.94L211.46-6.94Q211.46-5.38 212.32-4.48L212.32-4.48L212.32-4.48Q213.18-3.58 214.46-3.46L214.46-3.46L214.46-3.46Q213.82-1.28 211.62 0L211.62 0L211.62 0Q209.41 1.28 206.53 1.28Z" fill="#ccc"></path></g></g><style>text {
  font-size: 64px;
  font-family: Arial Black;
  dominant-baseline: central;
  text-anchor: middle;
}</style></svg>
  <slot />
</article>

<style>
  article {
    max-width: 50rem;
    margin-inline: auto;
    padding-block: 5rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
  }
  article > :global(*) {
    max-width: 54ch;
  }
  small {
    color: var(--sl-color-gray-3);
  }
  svg {
    width: 15rem;
  }
</style>